<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lesson - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/slick.css">
    <link rel="stylesheet" href="/static/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/static/css/plugins/sal.css">
    <link rel="stylesheet" href="/static/css/plugins/feather.css">
    <link rel="stylesheet" href="/static/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="/static/css/plugins/swiper.css">
    <link rel="stylesheet" href="/static/css/plugins/magnify.css">
    <link rel="stylesheet" href="/static/css/plugins/odometer.css">
    <link rel="stylesheet" href="/static/css/plugins/animation.css">
    <link rel="stylesheet" href="/static/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="/static/css/plugins/plyr.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="rbt-header-sticky">

    <div class="rbt-lesson-area bg-color-white">
        <div class="rbt-lesson-content-wrapper">
            <div class="rbt-lesson-leftsidebar">
                <div class="rbt-course-feature-inner rbt-search-activation">
                    <div class="section-title">
                        <h4 class="rbt-title-style-3">Course Content</h4>
                    </div>

                    <div class="lesson-search-wrapper">
                        <form action="#" class="rbt-search-style-1">
                            <input class="rbt-search-active" type="text" placeholder="Search Lesson">
                            <button class="search-btn disabled"><i class="feather-search"></i></button>
                        </form>
                    </div>

                    <hr class="mt--10">

                    <div class="rbt-accordion-style rbt-accordion-02 for-right-content accordion">


                        <div class="accordion" id="accordionExampleb2">

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingTwo1">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapseTwo1" aria-controls="collapseTwo1">
                                        Welcome {{ course }} <span class="rbt-badge-5 ml--10">1/2</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo1" class="accordion-collapse collapse show" aria-labelledby="headingTwo1">
                                    <div class="accordion-body card-body">
                                        <ul class="rbt-course-main-content liststyle">

                                            <li>
                                                <a href="lesson">
                                                    <div class="course-content-left">
                                                        <i class="feather-play-circle"></i> <span class="text">Course
                                            Intro</span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="min-lable">30 min</span>
                                                        <span class="rbt-check"><i class="feather-check"></i></span>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="lesson-intro">
                                                    <div class="course-content-left">
                                                        <i class="feather-file-text"></i> <span class="text">Introduction</span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="rbt-check"><i class="feather-check"></i></span>
                                                    </div>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingTwo4">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#collapseTwo4" aria-controls="collapseTwo4">
                                        {{course}} Lessons <span class="rbt-badge-5 ml--10">1/3</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo4" class="accordion-collapse collapse show" aria-labelledby="headingTwo4">
                                    <div class="accordion-body card-body">
                                        <ul class="rbt-course-main-content liststyle">

                                            <li>
                                                <a href="lesson">
                                                    <div class="course-content-left">
                                                        <i class="feather-play-circle"></i> <span class="text">Hello World!
                                        </span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="min-lable">0.37</span>
                                                        <span class="rbt-check"><i class="feather-check"></i></span>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <div class="course-content-left">
                                                        <i class="feather-play-circle"></i> <span class="text">Values and Variables</span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="min-lable">20 min</span>
                                                        <span class="rbt-check unread"><i class="feather-circle"></i></span>
                                                    </div>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <div class="course-content-left">
                                                        <i class="feather-play-circle"></i> <span class="text">Basic Operators
                                        </span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="min-lable">15 min</span>
                                                        <span class="rbt-check unread"><i class="feather-circle"></i></span>
                                                    </div>
                                                </a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item card">
                                <h2 class="accordion-header card-header" id="headingTwo2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#collapseTwo2" aria-controls="collapseTwo2">
                                        {{ course }} Quiz <span class="rbt-badge-5 ml--10">1/2</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2">
                                    <div class="accordion-body card-body">
                                        <ul class="rbt-course-main-content liststyle">
                                            <li>
                                                <a href="lesson-quiz">
                                                    <div class="course-content-left">
                                                        <i class="feather-help-circle"></i> <span class="text">{{ course }} Quiz Start</span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="rbt-check unread"><i class="feather-circle"></i></span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="disabled" id="quiz-result-li">
                                                <a href="lesson-quiz-result">
                                                    <div class="course-content-left">
                                                        <i class="feather-help-circle"></i> <span class="text">{{ course }} Quiz Result</span>
                                                    </div>
                                                    <div class="course-content-right">
                                                        <span class="rbt-check unread"><i class="feather-circle"></i></span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                          

                        </div>


                    </div>
                </div>
            </div>

            <div class="rbt-lesson-rightsidebar overflow-hidden">
                <div class="lesson-top-bar">
                    <div class="lesson-top-left">
                        <div class="rbt-lesson-toggle">
                            <button class="lesson-toggle-active btn-round-white-opacity" title="Toggle Sidebar"><i class="feather-arrow-left"></i></button>
                        </div>
                        {% if course == 'Python' %}
                            <h5>The Complete  {{ course }} 2023: From Zero to Expert!</h5>
                        {% elif course == 'React' %}
                            <h5>{{ course }} Front-End development 2023</h5>
                        {% else %}
                            <h5>{{ course }} Fullstack development 2024</h5>
                        {% endif %}
                    </div>
                    <div class="lesson-top-right">
                        <div class="rbt-btn-close">
                            <a href="/tutoring/course-details" title="Go Back to Course" class="rbt-round-btn"><i class="feather-x"></i></a>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="content">
                        <form id="quiz-form" class="quiz-form-wrapper">
                            {% if course == 'Python' %}
                                <!-- Start Single Quiz  -->
                                <div id="question-1" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>1/2</strong></span>
                                            <span>Attempts Allowed: <strong>1</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>1. What is the correct way to create a list in {{ course }}?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper mb--5">
                                                    <input id="rbt-radio-1" name="quiz-question-1" type="radio" value="no">
                                                    <label for="rbt-radio-1">{1, 2, 3, 4}</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="rbt-radio-2" name="quiz-question-1" type="radio" value="yes">
                                                    <label for="rbt-radio-2">[1, 2, 3, 4]</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="rbt-radio-3" name="quiz-question-1" type="radio" value="no">
                                                    <label for="rbt-radio-3">(1, 2, 3, 4)</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="rbt-radio-4" name="quiz-question-1" type="radio" value="no">
                                                    <label for="rbt-radio-4">1, 2, 3, 4</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Quiz  -->

                                <!-- Start Single Quiz  -->
                                <div id="question-2" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>2/5</strong></span>
                                            <span>Attempts Allowed: <strong>2</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>2. What is the correct syntax to check if x is greater than 5 in {{ course }}?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="radio-1" name="quiz-question-2" type="radio" value="yes">
                                                    <label class="form-check-label" for="radio-1"> if x > 5:</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input id="radio-2" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="radio-2"> if x > 5</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input id="radio-3" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="radio-3"> if (x > 5):</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input id="radio-4" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="radio-4"> if x > 5 then :</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Quiz  -->
                            {% elif course == 'React' %}
                                <!-- Start Single Quiz  -->
                                <div id="question-1" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>1/2</strong></span>
                                            <span>Attempts Allowed: <strong>1</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>1. What is the primary purpose of React?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper mb--5">
                                                    <input id="radio-1" name="quiz-question-1" type="radio" value="no">
                                                    <label for="radio-1">To create static HTML websites</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-2" name="quiz-question-1" type="radio" value="no">
                                                    <label for="radio-2">To manage state in large-scale applications</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-3" name="quiz-question-1" type="radio" value="yes">
                                                    <label for="radio-3">To build interactive user interfaces</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-4" name="quiz-question-1" type="radio" value="no">
                                                    <label for=radio-4">To manage server-side logic in web applications</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Quiz  -->

                                <!-- Start Single Quiz  -->
                                <div id="question-2" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>2/5</strong></span>
                                            <span>Attempts Allowed: <strong>2</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>2. n React, how are components typically defined?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="react-radio-1" name="quiz-question-2" type="radio" value="yes">
                                                    <label class="form-check-label" for="react-radio-1"> Using JavaScript functions or classes</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="react-radio-2" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="react-radio-2"> Using JSON objects</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="react-radio-3" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="react-radio-3"> Using XML files</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="react-radio-4" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="react-radio-4">Using Python scripts</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Quiz  -->
                            {% else %}
                                <!-- Start Single Quiz  -->
                                <div id="question-1" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>1/2</strong></span>
                                            <span>Attempts Allowed: <strong>1</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>1. What is Node.js primarily used for?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper mb--5">
                                                    <input id="radio-1" name="quiz-question-1" type="radio" value="yes">
                                                    <label for="radio-1">Building server-side applications with JavaScript</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-2" name="quiz-question-1" type="radio" value="no">
                                                    <label for="radio-2">Developing mobile applications</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-3" name="quiz-question-1" type="radio" value="no">
                                                    <label for="radio-3">Managing SQL databases</label>
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <p class="rbt-radio-wrapper">
                                                    <input id="radio-4" name="quiz-question-1" type="radio" value="no">
                                                    <label for="radio-4">Creating desktop applications</label>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Single Quiz  -->

                                <!-- Start Single Quiz  -->
                                <div id="question-2" class="question">
                                    <div class="quize-top-meta">
                                        <div class="quize-top-left">
                                            <span>Questions No: <strong>2/5</strong></span>
                                            <span>Attempts Allowed: <strong>2</strong></span>
                                        </div>
                                        <div class="quize-top-right">
                                            <span>Time remaining: <strong>No Limit</strong></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="rbt-single-quiz">
                                        <h4>2. Which of the following is NOT a core module in Node.js?</h4>
                                        <div class="row g-3 mt--10">
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="node-radio-1" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="node-radio-1"> 'fs' (File System)</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="node-radio-2" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="node-radio-2"> 'http' (HTTP Server)</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="node-radio-3" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="node-radio-3">'os' (Operating System)</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="rbt-form-check">
                                                    <input class="form-check-input" id="node-radio-4" name="quiz-question-2" type="radio" value="no">
                                                    <label class="form-check-label" for="node-radio-4">'lodash' (Utility Library)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Quiz  -->

                            {% endif %}
                        

                            <div class="rbt-quiz-btn-wrapper mt--30">
                                <button class="rbt-btn bg-primary-opacity btn-sm" id="prev-btn" type="button">Previous</button>
                                <button class="rbt-btn bg-primary-opacity btn-sm" id="next-btn" type="button">Next</button>
                                <a href="lesson-quiz-result" class="rbt-btn btn-gradient btn-sm" id="submit-btn">Submit</a>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="bg-color-extra2 ptb--15 overflow-hidden">
                    <div class="rbt-button-group">

                        <a class="rbt-btn icon-hover icon-hover-left btn-md bg-primary-opacity" href="#">
                            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                            <span class="btn-text">Previous</span>
                        </a>

                        <a class="rbt-btn icon-hover btn-md" href="#">
                            <span class="btn-text">Next</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="/static/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/static/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="/static/js/vendor/sal.js"></script>
    <script src="/static/js/vendor/swiper.js"></script>
    <script src="/static/js/vendor/magnify.min.js"></script>
    <script src="/static/js/vendor/jquery-appear.js"></script>
    <script src="/static/js/vendor/odometer.js"></script>
    <script src="/static/js/vendor/backtotop.js"></script>
    <script src="/static/js/vendor/isotop.js"></script>
    <script src="/static/js/vendor/imageloaded.js"></script>

    <script src="/static/js/vendor/wow.js"></script>
    <script src="/static/js/vendor/waypoint.min.js"></script>
    <script src="/static/js/vendor/easypie.js"></script>
    <script src="/static/js/vendor/text-type.js"></script>
    <script src="/static/js/vendor/jquery-one-page-nav.js"></script>
    <script src="/static/js/vendor/bootstrap-select.min.js"></script>
    <script src="/static/js/vendor/jquery-ui.js"></script>
    <script src="/static/js/vendor/magnify-popup.min.js"></script>
    <script src="/static/js/vendor/paralax-scroll.js"></script>
    <script src="/static/js/vendor/paralax.min.js"></script>
    <script src="/static/js/vendor/countdown.js"></script>
    <script src="/static/js/vendor/plyr.js"></script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>
<script>
         $("#logout-link").on("click", function (event) {
            event.preventDefault();  // Prevent the default anchor behavior
            $("#logout-form").submit();  // Submit the hidden logout form
        });

        document.addEventListener("DOMContentLoaded", function () {
            const quizForm = document.getElementById("quiz-form");
            const quizResultLi = document.getElementById("quiz-result-li");

            let correctAnswers = 0;  // Counter for correct answers

            // Function to check if the answer is correct and update the counter
            function checkAnswer(questionName) {
                const selected = quizForm.querySelector(`input[name='${questionName}']:checked`);  // Get the selected radio button
                if (selected && selected.value === "yes") {
                    correctAnswers++;
                }
            }

            // Add event listeners to all radio buttons in the form
            quizForm.addEventListener("change", function (event) {
                correctAnswers = 0;  // Reset the counter

                // Check the answers for each question
                checkAnswer("quiz-question-1");  // Check answer for question 1
                checkAnswer("quiz-question-2");  // Check answer for question 2
                // If both answers are correct, enable the list item
                if (correctAnswers >= 2) {
                    quizResultLi.classList.remove("disabled");
                }

                sessionStorage.setItem('score', correctAnswers);
            });
        });


    </script>
</body>

</html>